@import url("https://unpkg.com/leaflet@1.6.0/dist/leaflet.css");

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

header {
    display: flex;
    justify-content: space-between;

}

.head1 {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.links {
    flex: 0 0 auto;
    padding-top: auto;
    padding-bottom: auto;
    display: flex;
    align-items: center;
}

.links a
{
    padding: 15px;
    font-size: 20px;
    color: black
}

header img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.map-wrapper {
    height: calc(100vh - 110px);
    width: 75%;
}

main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: stretch;
}

.right-list {
    width: 25%;
    text-align: center;
    overflow: scroll;
    height: 800px;
}

.right-list img {
    width: 150px;
    height: 150px;
}

.icon-img
{
    width: 100px;
    height: 100px;
}

.right-list h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    /* or space-evenly or space-around */
    padding: 10px;
}

.flex-item {
    /*flex-basis: calc(33.33% -  50px); /* adjust as per your requirement */
    margin-bottom: 10px;
    padding: 5px;
}

.empty
{
    width: 290px;
}

.canvas
{
    height: 1000px;
}